.header {
    
    .header-banner {
        max-width: 200px;
        height: auto;
        fill: #cc0000;
        float: left;
    }
    .header-nav {
        margin-top: 60px;
        background-color: $black;
        position: relative;
        padding-left: 20%;
        li {
            
            border-right: 1px solid $white;
            
            &:first-child {
                border-left: 1px solid $white;
            }
            
            
            
            display: inline-block;
            font-size: 1.6em;
            
            a {
                color: $white;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}