/* =Template
-------------------------------------------------------------- */
#wrapper {
    width:100%;
    margin:0 auto;
}
#main {
	background-color:#fff;
	padding-top:150px;
}
.container {
    width:80%;
    margin:0 auto;
    padding:0 30px;
}
section {
	padding:60px 0;
	h1 {
		font-weight:700;
		margin-bottom:10px;
	}
	p {
		margin-bottom:30px;
		&:last-child {
			margin-bottom:0
		}
	}
	&.color {
		background-color:$color;
		color:$white;
	}
}