//Colors
$black						: #000;
$white						: #fff;

$header-accent				: #fff;
$header-background			: #000;

$colors 					: rgb(60,181,249);

$dark-grey					: rgb(80,80,80);
$text-grey					: rgb(100,100,100);


/* =Scss Variables
-------------------------------------------------------------- */
// fonts
$font-primary: arial, sans-serif;
$font-heading: arial, sans-serif;

// colours
$color:rgb(60,181,249);

$dark-grey:rgb(80,80,80);
$text-grey:rgb(100,100,100);