/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 660px) {
	/* =Header
	-------------------------------------------------------------- */
	header {
		h1#logo {
			display:block;
			float:none;
			margin:0 auto;
			height:100px;
			line-height: 100px;
			text-align: center;
		}
		nav {
			display:block;
			float:none;
			height:50px;
			text-align: center;
			margin:0 auto;
			a {
				line-height: 50px;
				margin:0 10px;
			}
		}
		&.smaller {
			height:75px;
			h1#logo {
				height:40px;
				line-height:40px;
				font-size:30px;
			}
			nav {
				height:35px;
				a {
					line-height:35px;
				}
			}
		}
	}
}

@media all and (max-width: 600px) {
	.container {
		width:100%;
	}
	#info-bar {
		a {
			display: block;
		}
		span.all-tutorials,
		span.back-to-tutorial {
			width:100%;
		}
		span.all-tutorials,
		span.back-to-tutorial {
			float:none;
			text-align:center;
		}
		span.all-tutorials {
			border-bottom:solid 1px darken($color, 15%);
		}
	}
}